# OS
.DS_Store
Thumbs.db
nul

# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.output/
.nuxt/
.next/
apps/api/.next/

# Environment
.env
.env.local
apps/api/.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Misc
public/assets/fonts
.nitro/
.cache/
